.footerlinks

{
    color: #000000;
    text-decoration: none !important;
}

.footerlinks:hover {
    color: #ffd800;
}

#footer1 {
    background: #F8F5F0;
    
}

#footer2 {
    background: #F1EFEC;
}
#Navbar1 {
    background: #F1EFEC;
}

#Navbar2 {
    background: #F8F5F0;
}
.linkButton:hover {
    color: #ffd800;
    text-decoration: none !important;
}
.linkText{
    width:150px;
    height:20px;
    text-align:center;
    line-height:20px;
}
    